.container {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: #113380;
}

.container .content h1 {
  margin-left: 20px;
}

.container .content button {
  width: 90%;
  height: 5vh;
  border: none;
  border-radius: 15px;
  background: #e1e1e1;
  color: #000;
  font-size: 16px;
  cursor: pointer;
  box-shadow: 2px 2px 12px -1px #eaeaea;
  margin-left: 10px;
  margin-bottom: 20px;
  margin-top: 10px;
}

.container .content button:hover {
  box-shadow: 2px 2px 12px -1px #b8b8b8;
}

.container .content .btns {
  width: 600%;
  height: 20vh;
  border: 1px solid #acacac;
  border-radius: 15px;
  display: grid;
  grid-template-columns: 1fr;
  margin-top: 20px;
  margin-left: -80px;
}