*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.counter {
    height: 91.2vh;
    text-align: center;
    background: #949494;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

button {
    width: 15%;
    height: 10vh;
    margin-bottom: 10px;
    border: 1px solid rgb(185, 184, 184);
    border-radius: 15px;
    background: rgb(0, 130, 251);
    color: white;
    cursor: pointer;
}

button:hover {
    border: 2px solid rgb(185, 184, 184);
    background: rgb(0, 251, 234);
    color: rgb(0, 0, 0);
}

.font {
    font-size: 5rem;
    font-weight: bold;
    color: rgb(123, 198, 255);
}